[user]
  name = Qasim Iqbal
  email = me@qas.im
[github]
  user = qasim
[color]
  diff = auto
  status = auto
  branch = auto
[push]
  default = current
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  required = true
