*

# Allow list

!.config/
!.config/fish/
!.config/fish/config.fish
!.config/nvim/
!.config/nvim/init.vim

!.home/
!.home/**

!.private/
!.private/**

!reaper/
!reaper/Microphone.rpp
!reaper/README.md

!.gitconfig
!.gitignore
!.hushlogin
!install.sh
!README.md

# Ignore list

.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.spotlight-reindexed
Brewfile.lock.json
