[submodule "private"]
	path = .private
	url = https://github.com/qasim/private.git
[submodule "rnnoise"]
	path = Documents/REAPER Media/Plugins/rnnoise
	url = https://github.com/werman/noise-suppression-for-voice.git
