*

# Allow list

!.config/
!.config/nvim/
!.config/nvim/init.vim

!.gnupg/
!.gnupg/gpg-agent.conf

!.home/
!.home/**

!.private/
!.private/**

!Documents/
!Documents/Keyboard/
!Documents/Keyboard/**

!.gitconfig
!.gitignore
!.gitmodules
!.hushlogin
!.zprofile
!.zshrc
!README.md

# Ignore list

.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.spotlight-reindexed
Brewfile.lock.json
