[user]
	name = Qasim Iqbal
	email = me@qas.im
	signingkey = 4B8BA9FE081F40AC
[github]
	user = qasim
[color]
	diff = auto
	status = auto
	branch = auto
[pull]
	rebase = true
[push]
	default = current
[commit]
	gpgsign = true
[gpg]
	program = gpg
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
[http]
	postBuffer = 524288000
[merge]
	stat = true
[core]
	whitespace = trailing-space,space-before-tab
[diff]
	mnemonicprefix = true
